# Python
__pycache__/
.pytest_cache/
*.pyc
# Ignore if targeting multiple versions of Python
Pipfile.lock

# Python Venv
/venv

# Python: Build and Distribute
/build
/dist
*.egg-info

# IntelliJ
/.idea

# Direnv
/.envrc
/.direnv

# Moto Tests
/tests/test_moto_*.py
